---
- hosts: all
  tasks:
    - name: Gather facts
      setup:

- hosts: loadbalancer
  become: yes
  roles:
    - loadbalancer

- hosts: master
  become: yes
  roles:
    - etcd
    - master

- hosts: worker
  become: yes
