---

- name: Install OS dependencies
  yum:
    name:
      - socat
      - conntrack
      - ipset
    state: installed

- name: Turn off swap
  command: swapoff -a

- name: Disable swap
  replace:
    path: /etc/fstab
    regexp: '^([^#].*?\sswap\s+sw\s+.*)$'
    replace: '# \1'

#- name: Download CNI
#  unarchive:
#    src: https://github.com/containernetworking/plugins/releases/download/v0.9.1/cni-plugins-linux-amd64-v0.9.1.tgz
#    remote_src: yes
#    dest: /opt/cni/bin/

- name: Download crictl
  unarchive:
    src: https://github.com/kubernetes-sigs/cri-tools/releases/download/v1.21.0/crictl-v1.21.0-linux-amd64.tar.gz
    remote_src: yes
    dest: /usr/local/bin/
    mode: u+x
    owner: root

- name: Download runc
  get_url:
    url: https://github.com/opencontainers/runc/releases/download/v1.0.0-rc93/runc.amd64
    dest: /usr/local/bin/runc
    mode: u+x
    owner: root
